<%= form_with url: session_path, method: :post do |form| %>
  <p>Username <%= form.text_field :username %></p>
  <p>Password <%= form.password_field :password %></p>
  <%= form.submit "Log in" %>
<% end %>
