<h1>Breweries</h1>

<h3>Active breweries</h3>

<div id="active_breweries">
  <%= turbo_frame_tag "active_brewery_list_frame", src: breweries_active_path do %>
  <i>Retrieving active breweries...</i>
  <% end %>
</div>

<h3>Retired breweries</h3>

<div id="retired_breweries">
  <%= turbo_frame_tag "retired_brewery_list_frame", src: breweries_retired_path do %>
  <i>Retrieving retired breweries...</i>
  <% end %>
</div>

<%= link_to("New brewery", new_brewery_path, class: "btn btn-primary") if current_user %>
